input { 
  file {
    path => "/Users/jojo/PycharmProjects/lambda/__ELASTICSEARCH_INDEX__/*.processed"
    start_position => "beginning"
  }
}

filter {
  grok {
    match => { "message" => "%{WORD:sp} %{WORD:chr} %{NONNEGINT:loc} %{GREEDYDATA:data}" }
  }
}

output {
  elasticsearch { 
    hosts => ["localhost:9200"] 
    index => "__ELASTICSEARCH_INDEX__"
  }
}
