input { 
  file {
    path => "__TARGET_FOLDER__/*.processed"
    start_position => "beginning"
  }
}

filter {
  grok {
    match => { "message" => "%{WORD:sp} %{WORD:chr} %{NONNEGINT:dSO} %{NONNEGINT:dEO} %{NONNEGINT:loc} %{NONNEGINT:sEO} %{GREEDYDATA:data}" }
  }
  mutate {
    remove_field => [ "message" ]
  }
}

output {
  elasticsearch { 
    hosts => ["localhost:9200"] 
    index => "__ELASTICSEARCH_INDEX__"
  }
}
